name: CI
on:
  push:
    branches: [main]
  
jobs:
    build-node:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [18.x]
                mysql-version: [8.0]
        steps:
            - uses: actions/checkout@v3
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-east-1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                node-version: ${{ matrix.node-version }}
            - uses: mirromutth/mysql-action@v1.1
              with:
                mysql version: ${{ matrix.mysql-version }}
                mysql database: 'usersDB'
                mysql root password: 'Rajatrao@0594'
            - run: npm i
            - run: npm run build --if-present
            - run: npm start
            - name: Validate Template
              uses: hashicorp/packer-github-actions@master
              with:
                command: validate
                arguments: -syntax-only
                target: ./ami_packer/ami.pkr.hcl
