name: Validate
on:
  push:
jobs:
    validate-packer:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
                aws-region: us-east-1
            - name: Build Packer Template
              uses: ExitoLab/packer_build_action_aws@v0.2.10
              with:
                templateFile: "ami.pkr.hcl"
                workingDir: "ami_packer"
